@font-face {
    font-family: 'Russo One';
    src: url("../fonts/Russo\ One.ttf") format("truetype");
}

@font-face {
    font-family: 'Anon';
    src: url("../fonts/Anonymous\ Proo.ttf") format("truetype");
}

